body{
    display: flex;
    justify-content: center;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    transition:1s;
}

h1{
    margin-left: 3%;
}
h3,table{
    margin-left: 20px;
}
.caja{
    width: 70%;
    background-color: #f7f7f7;
    border-radius: 20px;
    box-shadow: 3px 2px 25px 1px rgba(0, 0, 0, 0.64);
}
hr{
    margin-top: 4%;
    margin-bottom: 4%;
    width: 88%;
    border-color: rgba(63,94,251,1) ;
    border-radius: 20px;
    opacity: 60%;
}
table{
    width: 100%;
    margin-bottom: 5%;
    line-height: 180%;

}
table td{
    text-align: center;
}
input{
    
    margin-right: 20px;
    position: relative;
    width: 80%;
    background: none;
    color: #333;
    border: none;
    outline: 0px;
    border-bottom: 1px solid #c7c7c7;
    width: 50%;
    text-align: center;
}
button{
    border: none;
    text-transform: uppercase;
    background-color: white; 
    font-weight: 700;
    border-radius: 20px;
}button:active{
    transform: scale(0.95);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}


